@tailwind base;
@tailwind components;
@tailwind utilities;

.login-button-animated-gradient {
  background-image: linear-gradient(to right, #0082CA, #8b5cf6);
  background-size: 100% 100%;
  transition: all 0.5s ease;
}

.login-button-animated-gradient:hover {
  background-image: linear-gradient(to right, #0082CA, #8b5cf6, #0082CA);
  background-size: 200% 100%;
  animation: smooth-flow 1.5s linear infinite;
}

@keyframes smooth-flow {
  0% {
    background-position: 200% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}